.calculator-container{
    width: 40%;
    margin: 1rem 30%;
    border: 3px solid black;
    padding-bottom: 3rem;
    border-radius: 15px;
    background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 495px) {
    .calculator-container{
        width: 60%;
        margin: 1rem 15%;
        color: #ccc;
    }

}