.button{
    
    display: flex;
    flex: 1 0 24%;

    button{
        height: 3rem;
        flex-grow: 1;
        font-weight: 550;

        &:hover{
            cursor: pointer;
        }
    }
    &:last-child button{
        height: 4rem;
        background-color: rgb(13, 192, 13);
    }
    &:nth-last-child(2) button{
        height: 4rem;
        
    }
    
    &:nth-child(4) button{
        background-color: rgb(233, 49, 49);
    }
    &:nth-last-col{
        margin-left: 10px;
    }
}
